<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601206499514-bo0252iik8667k3i99bf0s5lp46qjttj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601206499514-bo0252iik8667k3i99bf0s5lp46qjttj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>601206499514-03rqrcvo70cpdsvs65vhlksh3r3g0263.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4TGwnsJV2LbtrDI1CzfpLlNLBAqdn8ys</string>
	<key>GCM_SENDER_ID</key>
	<string>601206499514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.begroup.Dr-Nour</string>
	<key>PROJECT_ID</key>
	<string>drnourandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>drnourandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601206499514:ios:c2f8bb61b3e0399171fa83</string>
	<key>DATABASE_URL</key>
	<string>https://drnourandroid.firebaseio.com</string>
</dict>
</plist>